*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**********HEADER***************/
.section-stories {
  position: relative;
  /* padding: 15rem 0; */
}
 .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.logo {
  height: 87px;
  width: auto;
  float: left;
  margin-top: 20px;
  margin-left: 51px;
}
.nav__row {
  width: 100%;
  display: flex;
  position: relative;
}
.col-md-4 {
  display: initial;
}
.ww11 {
  background-color: transparent;
}
input.ww11 {
  min-height: 52px !important;
}
.ww111 {
  background-color: transparent;
}
input.ww111 {
  min-height: 52px !important;
}
.button {
  display: initial;
  background-color: #FF5A5F;
  height: 700px !important;
  /* width: 51px; */
  border: 2px solid blue;
}
.row {
  zoom: 1;
  margin-top: -225px;
}
/*****Form******/
.wrapper{
  background-color: transparent;
  min-height: 100px;
  margin-left: 174px;
  margin-right: 700px;
  border-radius: 10px;
  padding-top: 25px !important;
  padding-bottom: 25px !important;

}
p{
  font-family:Roboto,Helvetica Neue,sans-serif !important;
  font-size: 19px !important;
  line-height: 24px !important;
  font-weight: 300 !important;
  letter-spacing: undefined !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848 !important;
  margin-bottom: 8px !important;
  margin-top: 5px;
  
}
h1{
  color: #484848  !important;
  font-size: 2em !important;
  font-weight: 700 !important;
  line-height: inherit !important;
  margin: 0px !important;
  padding: 0px !important;
}
.title__wrapper{
margin-left: 10px;
}
.wrapper1__form{
  margin-left: 10px;
}
.wf{
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.2px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848 !important;
  font-weight: 700 !important;
}
.ww1{
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    color: #484848 !important;
    /* background-color: transparent !important; */
    border: 0px !important;
    padding: 11px !important;
    width: 122% !important;
    font-weight: normal !important;
    text-overflow: ellipsis !important;
    margin-top: 8px;
}
.ww2{
  margin-top: 8px;
  color: #484848;
}
.wrapper2{
  margin-top: 12px;
}
.wrapper2__form{
     float: right;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    color: #484848 !important;
    font-weight: 300 !important;
    background-color: transparent !important;
    border: 0px !important;
    padding: 11px !important;
    width: 34% !important;
    margin-top: -142px;
}
.wrapper1__form{
  float: right;
 font-size: 19px !important;
 line-height: 24px !important;
 letter-spacing: undefined !important;
 padding-top: undefined !important;
 padding-bottom: undefined !important;
 color: #484848 !important;
 font-weight: 300 !important;
 background-color: transparent !important;
 border: 0px !important;
 padding: 11px !important;
 width: 100% !important;
}
.search{
  cursor: pointer !important;
  transition: background 0.3s, border-color 0.3s !important;
  position: relative !important;
  display: inline-block !important;
  text-align: center !important;
  text-decoration: none !important;
  border-radius: 4px !important;
  width: 100% !important;
  font-size: 19px !important;
  line-height: 22px !important;
  letter-spacing: undefined !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  color: #484848 !important;
  font-weight: 700 !important;
  border: 2px solid transparent !important;
  padding-right: 24px !important;
  padding-left: 24px !important;
  min-width: 116% !important;
  background: #FF5A5F !important;
  border-color: transparent !important;
  margin-left: 11px;
}
.search__1{
  -webkit-transition: color 0.3s !important;
  -moz-transition: color 0.3s !important;
  transition: color 0.3s !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 19px !important;
  line-height: 22px !important;
  letter-spacing: undefined !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #ffffff !important;
}
option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.navigation__checkbox {
  display: none; 
}

.navigation__button {
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: 5rem;
  right: 6rem;
  border-radius: 61%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 5.5rem;
  background-image: radial-gradient(#f1acae, rgb(228, 197, 189));;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
 }
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; 
}

.navigation__item {
  margin: 1rem; 
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; 
}
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block;
   }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
 }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; 
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; 
}
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; 
  }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; 
  }
  .navigation__icon::before {
    top: -.8rem; 
  }
  .navigation__icon::after {
    top: .8rem; 
  }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; 
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
 }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
 }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); 
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); 
}

.row {
  margin-top: -11px;
}
h2{
  margin-top: 31px;
  margin-left: 77px;
  font-weight: 300;
  font-size: 180%;
  word-spacing: 2px;
  margin-bottom: -37px;
  letter-spacing: 1px;
  color:#484848  !important;
}
/* h2:after {
  display: block;
  content: " ";
  background-color: #e67e22;
  width: 100px;
  height: 2px;
  margin: 0 auto;
  margin-top: 30px
} */
.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 5px;
}
.row.js--wp-3 {
  margin-top: 33px;
}
.col.span-1-of-4.box {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px grey;
  border-radius:5px;
}
img {
  border-style: none;
}
.col:first-child {
  margin-left: 71px;
}
.box {
  padding: 1%;
}
.span-1-of-4 {
  width: 28.8%;
}
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.desc{
  color: #484848  !important;
  font-weight: 300;
  font-size: 180%;
}
.container {
  position: relative;
  text-align: center;
}
.center {
  position: absolute;
  font-size: 23px;
  right: 18%;
  top: 31%;
  width: 100%;
  color: #484848  !important;
  font-weight: 300;
}
.container img {
  width: 89.5%;
  height: 450px;
  z-index: 1 !important;
  border-radius: 6px;
  margin-right: -7px;
  margin-top: 61px;
}
.desc1{
  position: absolute;
  font-size: 20px;
  right: 28%;
  top: 58%;
  width: 100%;
  color: #484848  !important;
  font-weight: 700;
  cursor: pointer;
} 
.btn:link,
.btn:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.0rem 1rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all .2s;
      position: relative;
      font-size: 0.99rem;

      /* //Change for the <button> element */
      border: none;
      cursor: pointer;
  }
  
  .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(#000,.2);

  }
  
  .btn:after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
  .btn:active,
  .btn:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba(#000,.2);
  }
  
 .btn--white {
      background-color: #fff;
      color:#777;
  }
  .btn--white .btn--white:after {
          background-color: #fff;
      }
    
  .btn--white:after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
  }
  
  .btn--white .btn--animated {
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
  }
  /*********HOMES*******/
  div.img {
    border-radius: 6px;
}
div.img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.container_3 {
  width: 91%;
  margin-left: 64px;
}
 .desc_1{
  color: rgb(20, 39, 94);
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.2px !important;
  font-weight: 700;
 }
 .desc1_2{
  font-size: 19px !important;
  line-height: 22px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848 !important;
  font-weight: 700 !important;
}
.desc_3{
  font-size: 14px;
  line-height: 1.43;
  margin-top: 2px;
  color: #484848 !important;
}
.desc_11{
  color: rgb(94, 37, 20);
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.2px !important;
  font-weight: 700;
}
.desc_111{
  color: rgb(70, 111, 236);
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.2px !important;
  font-weight: 700;
}
.desc_1111{
  color: rgb(0, 0, 0);
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.2px !important;
  font-weight: 700;
}
.row.js--wp-3 {
  margin-top: 54px;
}
.stars {
  cursor: pointer;
  
}
.stars:hover .star polygon {
  fill: #558bff !important;
}
.stars .star {
  float: left;
}
.stars .star polygon {
  fill: #d8d8d8;
}
/* .stars .star:hover ~ .star polygon {
  fill: #d8d8d8 !important;
} */
.stars[data-stars] .star polygon {
  fill: #558bff;
}
.stars[data-stars="1"] .star:nth-child(1) ~ .star polygon {
  fill:  #558bff;
}
.stars[data-stars="2"] .star:nth-child(2) ~ .star polygon {
  fill:  #558bff;
}
.stars[data-stars="3"] .star:nth-child(3) ~ .star polygon {
  fill:  #558bff;
}
.stars[data-stars="4"] .star:nth-child(4) ~ .star polygon {
  fill:  #558bff;
}
.stars[data-stars="5"] .star:nth-child(5) ~ .star polygon {
  fill:  #558bff;
}
a {
  background-color: transparent;
  color: #558bff;
}
.aaa{
  margin-left: 68px;
}
.container_4 {
  width: 91%;
  margin-left: 64px;
  margin-top: 31px;
}
.responsive1 {
  padding: 0 6px;
   float: left;
  width: 50%;
}
h3 {
  margin-left: 78px;
  margin-top: 38px;
  font-size: 14px;
  font-weight: 300;
  color: #484848;
}
.center1 {
    margin-top: -271px;
    text-align: center;
    color: rgb(94, 37, 20);
    font-size: 69px;
}
.href{
  margin-top: 31px;
}
.footee {
  padding-left: 110px;
  padding-top: 139px;
  padding-bottom: 139px;
}
.row__foot {
  /* border: 2px solid black; */
  margin-top: 229px;
}
.ww3 {
  height: 46px;
  width: 257px;
}
.footeee1 {
  margin-top: 10px;
}
input.ww3 {
  border-radius: 1px;
}
.ww3 {
  border-radius: 3px;
}
.col-md-4 {
  float: left;
}
.ctitle {
  padding-left: 194px;
  padding-top: 130px;
  padding-bottom: 139px;
}
.ctitle1{
  padding-left: 152px;
  padding-top: 130px;
  padding-bottom: 139px;
}
.ctitle2 {
  padding-left: 200px;
  padding-top: 130px;
  padding-bottom: 139px;
}
.etitle {
  margin-top: 10px;
}
ul.ftitle {
  margin-top: 11px;
}
.f-title:active {
  color: #006C70 !important;
}
.f-title{
  font: inherit !important;
  text-decoration: none !important;
  color: #767676 !important;
}
.dtitle {
  color: #484848 !important;
  font-weight: 700 !important;
}
li {
  margin-top: 10px;
  list-style: none;
}
.row__foot{
  border: 2px solid rgba(216, 216, 216, 0.18);
}